.auth-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
}

.avatar {
  margin-top: 2px;
  height: 2.5rem;
  width: 2.5rem;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.auth-buttons {
  background-color: #252525;
  color: #EEE;
  border: 1px solid #EEE;
}