<!-- SIGNED IN -->
<div *ngIf="userAuthStatus$ | async" class="auth-icons" [matMenuTriggerFor]="menuSignedIn">
  <img [src]="(userAuthStatus$ | async)?.photoURL" class="avatar">
  <mat-menu #menuSignedIn="matMenu">
    <button mat-menu-item (click)="signOutWithGoogle()">Sign Out</button>
  </mat-menu>
</div>

<!-- NOT SIGNED IN -->
<div *ngIf="(userAuthStatus$ | async) === null" class="auth-icons" [matMenuTriggerFor]="menuSignedOut">
  <mat-icon class="person-icon">person_outline</mat-icon>
  <mat-menu #menuSignedOut="matMenu">
    <button mat-menu-item (click)="signInWithGoogle()">Sign In With Google</button>
  </mat-menu>
</div>